<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="news,iter : ${allNews}" style="list-style-type: none; border: 1px solid black; margin: 20px 0; padding: 10px;">
        <a th:href="'/news/' + ${iter.index}" href="#" style="text-decoration: none">
            <h1 th:text="${news.title}">
                Title
            </h1>
            <h6 th:text="${news.author.firstName} + ' ' + ${news.author.lastName} + ' - ' + ${news.date}">
                Jan Kowalski - 21.06.2017
            </h6>
            <p th:text="${news.abbreviateDescription}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, eum incidunt ipsam maiores omnis ut!
                Assumenda dicta enim iste, molestiae nisi praesentium quaerat quam repellat, sequi,
                sint tempore tenetur voluptatem.
            </p>
        </a>
    </li>
</ul>
<form action="/news" method="post">
    <h2>Title</h2>
    <input type="text" name="title">
    <br>

    <h2>Description</h2>
    <input type="text" name="description">
    <br>

    <h2>Date</h2>
    <input type="date" name="date">
    <br>

    <h2>Small img path</h2>
    <input type="text" name="smallImgPath">
    <br>

    <h2>Big im path</h2>
    <input type="text" name="bigImgPath">
    <br>

    <h2>Author</h2>
    <input type="number" name="author">
    <br>

    <button type="submit">Submit</button>
</form>
</body>
</html>